using System;

namespace SeeSharp.AstDefinitions
{
  public class {{ astName }} : {{ astType }}
  {
	{% for fieldName, fieldType in fields.items() %}
    public {{ fieldType }} {{ fieldName }} { get; }
	{% endfor %}

    public {{ astName }}({% for fieldName, fieldType in fields.items() %}{{ fieldType }} {{ fieldName.lower() }} {% if not loop.last %}, {% endif %}{% endfor %})
    {
		{% for fieldName, fieldType in fields.items() %}
			this.{{ fieldName }} = {{ fieldName.lower() }};
		{% endfor %}
    }

    public override T accept<T>(IAstVisitor<T> visitor)
    {
      return visitor.visit{{ astName }}(this);
    }
  }
}