using System;

namespace SeeSharp.AstDefinitions
{
  public interface I{{ astType }}Visitor<T>
  {
	{% for astName in astNames %}
    T visit{{ astName }}{{ astType }}({{ astName }} expr);
	{% endfor %}
  }
}